@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
    /* masukan warna list2 warna untuk di panggil*/
    --primary: #b6895b;
    --bg: #010101;
    --kuning: #d2a800;
    --biru: #000633;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* agar tidak perlu mengatur lagi dimensi elemen saan diberikan padding atau border */
    outline: none; /* untuk mau kasih style untuk forum atau button */
    border: none; /* agar kita bisa kendali semua bordernya */
    text-decoration: none; /*untuk tidak ada garis bawah ketika membuat link*/
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    color: var(--bg);
}

/*Navbar start*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid #0000ff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar img {
    width: 50px;
}

.navbar .navbar-logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: var(--kuning);
}

.navbar img,
.navbar .navbar-logo {
    display: inline-block;
    vertical-align: middle;
}

.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--kuning);
}

.navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-buttom: 0.5ren;
    border-bottom: 0.1rem solid var(--kuning);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(1);
}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--kuning);
}

#hamburger-menu {
    display: none;
}
/*Navbar close*/

/*footer start*/
footer {
    position: fixed;
    bottom: 0;
}

.footer {
    background-color: #000633;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 30px 50px 20px 60px;
    margin-top: 45px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
}

@media {
    footer {
        position: static;
    }
}

.footer .footer-left {
    width: 33%;
}

.footer .footer-left .maps {
    width: 95%;
}

.footer .footer-copyright {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding-top: 5%;
}

.footer .footer-center {
    width: 33%;
}

.footer .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 30px;
    vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0px;
}

.footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer .footer-center p a {
    color: rgb(22, 255, 177);
    text-decoration: none;
}

.footer .footer-right {
    width: 33%;
}

.footer .footer-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0px;
}

.footer .footer-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer .footer-media {
    margin-top: 25px;
}

.footer .footer-media a {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer .footer-media a:hover {
    background-color: rgb(0, 122, 82);
}

@media (max-width: 880px) {
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: left;
    }

    .footer .footer-center i {
        margin-left: 0px;
    }
}
/*footer close*/

Media Queries
/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 100%;
    }
}
/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 72.5%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 30rem;
        height: 100vh;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }
}
/* Mobile Phone */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}
